@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');



*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: rgb(225, 225, 225); 
    --color-secondary-1: rgb(215, 140, 67); 
    --color-secondary-2: rgb(187, 187, 187); 
    --background-color: rgb(25, 25, 27); 
    scroll-behavior: smooth;
    font-family: "Manrope", sans-serif;
}

img {
    display: block;
    width: 100%;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.aboutus {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    padding: 40px 0;
}

.aboutus__content--left, 
.aboutus__content--right {
    flex: 1;
    padding: 20px;
}

.aboutus__title {
    color: var(--color-secondary-1); 
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 10px;
}

.aboutus__subtitle {
    color: var(--color-primary);
    font-size: 62px;
    line-height: 74px;
    font-weight: 600;
    margin-bottom: 30px;
}

.aboutus__description {
    color: var(--color-secondary-2);
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 40px;
}

.aboutus__content--left .aboutus__subtitle {
    font-size: 35px;
    line-height: 45px;
    font-weight: 400;
}

.aboutus__text {
    color: var(--color-secondary-2);
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
}

.statistics {
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 20px 0;
    background-color: var(--background-color);
}

.statistics__item {
    text-align: center;
    flex: 1;
    margin: 10px;
    border: 1px solid var(--color-secondary-2);
    padding: 20px;
    width: 200px;
    width: 90%;
}

.statistics__item:last-child {
    border-top-right-radius: 100px;
}

.statistics__number, .statistics__sign {
    display: inline-flex;
    align-items: center;
}

.statistics__number {
    font-size: 62px;
    font-weight: 600;
    color: var(--color-primary);
    margin-bottom: 10px;
    line-height: 74px;
}

.statistics__description {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-secondary-2);
}

.statistics__sign {
    color: var(--color-secondary-1);
    font-size: 62px;
    font-weight: 600;
    line-height: 74px;
    margin-left: 5px;
}

@media (max-width: 768px) {
    .aboutus {
        flex-direction: column;
        text-align: left;
    }

    .aboutus__content--left, 
    .aboutus__content--right {
        padding: 10px;
    }

    .statistics {
        flex-direction: column;
    }

    .statistics__item {
        margin-bottom: 20px;
    }
}
